.header {
    padding: 30px 0;
    background: var(--header-bg-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
    }
}

.top-bar {
    display: flex;
    align-items: center;
}

.navbar {
    margin-right: auto;
    margin-left: 144px;

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 6px;

        color: var(--text-color);
        /* Medium 15 */
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146%; /* 146.667% */
    }
}

.top-act {
    display: flex;
    align-items: center;
    gap: 20px;

    &__group {
        display: flex;
        align-items: center;
        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-action-group-bg-color);
        box-shadow: var(--top-action-group-shadow);
    }

    &__title {
        color: var(--text-color);
    }

    &__btn {
        padding: 13px 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        // text
        color: #1a162e;

        /* Medium 15 */
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146%;
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__separate {
        background: var(--top-action-group-separate);
        width: 1px;
        height: 30px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }
}
