@use "../abstracts";

.header {
    padding: 30px 0;
    background: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    @include abstracts.breakpoint(lg) {
        margin-left: 39px;
        gap: 10px;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;

        @include abstracts.breakpoint(lg) {
            font-size: 1.8rem;
        }
    }

    &__img {
        @include abstracts.breakpoint(lg) {
            width: 24px;
        }
    }
}

.top-bar {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 28px;
    }
    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        background-color: #fff;
        margin-left: 0px;
        padding: 20px 0;
        z-index: 1000;
    }
    &__close-btn {
        padding: 20px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            width: 100%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        color: var(--text-color);
        /* Medium 15 */
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146%; /* 146.667% */

        @include abstracts.breakpoint(lg) {
            padding: 0 20px;
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
    &__overlay {
        visibility: hidden;
        opacity: 0;
        @include abstracts.breakpoint(lg) {
            visibility: visible;
            opacity: 1;
            background: rgba($color: #000000, $alpha: 0.4);
            position: fixed;
            inset: 0;
            z-index: 998;
        }
    }
}

.top-act {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    &__group {
        display: flex;
        align-items: center;
        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-action-group-bg-color);
        box-shadow: var(--top-action-group-shadow);
    }

    &__title {
        color: var(--text-color);
    }

    &__btn {
        padding: 13px 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        // text
        color: #1a162e;

        /* Medium 15 */
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146%;
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__separate {
        background: var(--top-action-group-separate);
        width: 1px;
        height: 30px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }
}
